
.calculator {
    margin-top: 5%;
}
.calculator .display {
    border: 1px solid var(--black);
    display: flex;
    flex-direction: column;
    justify-content: right;
    border-radius: .5rem;
    padding: 10px 20px;
    font-weight: bold;
    font-size: large;
}

.display .inputs,
.display .result,
.buttons {
    width: 100%;
    text-align: right;
}
.inputs,
.warning {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: right;
}
.buttons {
    padding: 20px;
}

.display .result {
    margin-top: 10px;
    font-size: small;
}

.calc-row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 0;
}


.circle-btn {
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--black);
    color: var(--black);
    background-color: transparent;
    width: 23%;
    padding: 3%;
    font-weight: bold;
    font-size: 1.5rem;
}

.circle-btn:active {
    background-color: var(--darkBlue);
    color: var(--white);
}

.equals, .ac {
    background-color: var(--black);
    color: var(--white);
    width: 48%;
}